<div class="let-rock">

    <div class="t-rock t-0">
        <h5> सट्टा मटका क्या है? </h5>
        <p> सट्टा मटका एक जुआ है जो भारत में खेला जाता है। इसका नाम "मटका" उस पुराने हिन्दी शब्द से आया है जो "मटकी" को
            कहते हैं, जो एक माटी की पोतली होती है। सट्टा मटका खेलने में, एक मटकी में अंक डाले जाते हैं और उन अंकों के
            आधार पर लोग बाजी लगाते हैं। इस तरह, इस जुए में जीतने वाला खिलाड़ी अथवा बुकी व्यक्ति निर्धारित अंकों के आधार
            पर निकलने वाले परिणाम पर पैसा जीतता है। सट्टा मटका में खेलना भारतीय कानून के तहत अवैध है, और इसे खेलने और
            प्रचारित करने पर कानूनी कार्रवाई की जा सकती है।</p>
    </div>


    <div class="t-rock t-0">
        <h5> सट्टा मटका कैसे खेलते हैं </h5>
        <p> नंबर चुनें: पहले आपको 0 से 9 तक के बीना नंबर का चयन करना होगा। यह नंबर आपके खेल की बाजी के रूप में काम
            करेगा। <br><br>

            बाजी लगाएं: अब आपको एक नंबर बाजी लगानी होगी। यह बाजी आपके चुने गए नंबर पर आधारित होगी। आप विभिन्न प्रकार की
            बाजियों में लगा सकते हैं, जैसे सिंगल, जोड़ी, पाना, हाफ संगम, और त्रिपल पाना। इनमें आप एक या एक से अधिक नंबर
            के साथ लगा सकते हैं।<br><br>

            गेम का इंतज़ार करें: अब आपको खेल के परिणाम का इंतज़ार करना होगा। यह खेल दिन में कई बार आयोजित होता है, और
            परिणाम एक नंबर के रूप में घोषित किया जाता है। आपकी बाजी की जीत या हार इस परिणाम पर निर्भर करेगी।<br><br>

            पैसा प्राप्त करें: जब परिणाम घोषित होता है, तो बुकी या डीलर आपको जीते हुए पैसे देगा। जीतने पर आपका प्राप्त
            राशि बाजी के प्रकार और निर्धारित नियमों पर निर्भर करेगा।
        </p>
    </div>


    <div class="t-rock t-0">
        <h5> कल्याण सट्टा क्या है </h5>
        <p> कल्याण सट्टा भारत में एक प्रसिद्ध जुआ है जो मुंबई क्षेत्र में खेला जाता है। यह जुआ मुख्य रूप से सट्टा मटका
            के रूप में जाना जाता है। कल्याण सट्टा में लोग अपने चुने गए नंबरों पर बाजी लगाते हैं और जीते हुए नंबर पर
            निर्धारित नियमों के अनुसार पैसा प्राप्त करते हैं। यह खेल हर सप्ताह के दिनों में आयोजित होता है, जिसमें पहले
            और दूसरे हाफ में भी अलग-अलग बाजार होते हैं। <br>

            कल्याण सट्टा खेलने के लिए व्यक्तियों को बुकी या डीलर की मदद लेनी पड़ती है जो बाजी की प्रबंधनिका करते हैं।
            कृपया ध्यान दें कि कल्याण सट्टा अवैध है और इसे खेलने या प्रचारित करने पर कानूनी कार्रवाई की जा सकती है।
            इसलिए, मैं सलाह दूंगा कि आप इसे न खेलें और कानून का पालन करें।
        </p>
    </div>


    <div class="t-rock t-0">
        <h5> कल्याण मटका कब प्रारम्भ हुआ </h5>
        <p> कल्याण मटका का प्रारंभ 1962 में हुआ था। यह मटका खेल मुंबई के कल्याणजी भगत मेले में पहली बार शुरू किया गया
            था। कल्याण मटका खेल अपनी प्रसिद्धि के लिए जाना जाता है और वहीं से यह नाम प्राप्त करता है। इसके बाद से,
            कल्याण मटका मुंबई और निकटवर्ती क्षेत्रों में व्यापक रूप से खेला जाता रहा है।
        </p>
    </div>

</div>