$primary-color: #0b0b0b;
$secondary-color: #fff;
$accent-color: #0b0b1b;
$text-color: #2e2e2eee;

$bg-dark-blue:#000000;
$bg-yellow: #ffca28;
$bg-light : #fff;
$bg-dark: $primary-color;
$bg-primary: #000;
$box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
$bg-gradient-pink : linear-gradient(187deg, #2b2a2a, #000000);


