$primary-color: #0b0b0b;
$secondary-color: #fff;
$accent-color: #6624d1;
$text-color: #2e2e2eee;

$bg-dark-blue:#000229;
$bg-yellow: #ffca28;
$bg-light : #fff;
$bg-dark: $primary-color;
$bg-primary: #6624d1;
$box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
$bg-gradient-pink : linear-gradient(284.05deg,#ebd1ff 8.66%,rgba(244,233,252,.54) 92.88%)


